<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2bdea520-6438-4a21-9cb6-f56dcc646d24/resourceGroups/Blog20220905210110ResourceGroup3/providers/Microsoft.Web/sites/ExofBlog</ResourceId>
    <ResourceGroup>Blog20220905210110ResourceGroup3</ResourceGroup>
    <ApiResourceId>/subscriptions/2bdea520-6438-4a21-9cb6-f56dcc646d24/resourceGroups/Blog20220905210110ResourceGroup3/providers/Microsoft.ApiManagement/service/BlogExoftapi/apis/Blog</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>false</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://exofblog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1d3f4cb2-14e0-4698-a090-252a4c2ef020</ProjectGuid>
    <MSDeployServiceURL>exofblog.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ExofBlog</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ExofBlog</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>